<div class="homeLogo"></div>
<div class="" id="home">
    <div class="row">
        <div class="col-xs-6 homeGroup">
            <img ng-src="../../img/devlogo.png" class="homeDev">
            <p class="text-center home-dev">DEVELOPERS</p>
            <a href="/signup" class="text-center btn btn-danger">Sign up</a>
            <a href="/login" class="text-center btn btn-danger">Log In</a>
        </div>
        <div class="col-xs-6 homeGroup">
             <img ng-src="../../img/deslogo.png" class="homeDev">
            <p class="text-center home-des">DESINGERS</p>
            <a href="/signup" class="text-center btn btn-primary">Sign up</a>
            <a href="/login" class="text-center btn btn-primary">Log In</a>
        </div>

    </div>

</div>