<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" id="logo" href="/"></a>
    </div>
</nav>

<div class="col-sm-6 col-sm-offset-3">
<form ng-submit="createProject()">
  <legend>Create Project</legend>
  <div class="project-bg">
  <div class="form-group">
    <input type="text" class="form-control" id="projectTitle" placeholder="Project Name" ng-model="project.projectTitle">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="email" placeholder="Project Details" ng-model="project.projectBody">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" id="projectDate" ng-model="project.projectDate">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="projectPrice" placeholder="How Much?" ng-model="project.projectPrice">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="projectPic" placeholder="Project Screenshot Link" ng-model="project.projectPic">
    </div>
  <div class="form-group">
    <input type="hidden" class="form-control" id="projectPoster" ng-model="project.projectPoster" value={{user.id}}>
  </div>
  <button type="submit" class="btn btn-danger pjBtn">Create!</button>
  </div>
  </form>

</div>
